.app-container {
    width: 40%;
}
.trash-can {
    background: red;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 9px 9px;
    float: right;
    cursor: pointer;
    transition: background 0.2s;
}
.add:hover,
.trash-can:hover {
    background: royalblue;
}