.action-btn {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s;
}
.action-btn:hover {
    background: #4bbdff;
}
.new-task {
    width: 90%;
}
.bg-green {
    background: #008000;
}
.bg-red {
    background: #b80000;
}
.bg-blue {
    background: #0073b4;
}